# Microsoft Graph API
MS_TENANT_ID=tu_tenant_id
MS_CLIENT_ID=tu_client_id  
MS_CLIENT_SECRET=tu_client_secret

# Configuración objetivo
TARGET_USER_EMAIL=tu_email@siman.com
WEBHOOK_URL=https://tu-webhook-url.amazonaws.com/clasificador-emails-v2

WEBHOOK_URL_INBOX=https://tu-servicio-nuevo-inbox.amazonaws.com/webhook
WEBHOOK_URL_HIL=https://tu-servicio-actual-hil.amazonaws.com/clasificador-emails-v2

# Opcional
HIL_FORWARD_TO_EMAIL=destino@ejemplo.com
LAMBDA_VERSION=1.0.0
LOG_LEVEL=INFO